{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "4"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "babel-plugin-source-map-support",
      {
        "execute": true,
        "importOverride": ["source-map-support", "install", "_sourceMapSupport"]
      }
    ]
  ]
}
