{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "4"
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "babel-plugin-stack-trace-sourcemap",
      {
        "execute": true,
        "importOverride": ["source-map-support", "install", "_sourceMapSupport"]
      }
    ]
  ]
}
